
  <mat-card  class="navbar">
    <mat-card-content>
      <mat-card-title class="heading">Hello </mat-card-title>
      <div class="user">
        <mat-icon>account_circle</mat-icon><span>User</span>
      </div>
    </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet>
  <!-- <app-register-page></app-register-page> -->
  <!-- <app-login-page></app-login-page> -->
  <!-- Nav End -->
<!-- <div class="flex-container" >
  <div class="left-card"><app-chat-list></app-chat-list><hr></div>

  <div class="right-card"><app-message-window></app-message-window></div>

</div> -->
