<mat-card class="msg-recip">
    <mat-card-content>Recipient</mat-card-content>
</mat-card>
  <!-- Message Window Header -->
<mat-card class="msg-preview">
    <mat-card-content class="msgs">
        <mat-card class="msg">
            <mat-card-content  class="msg-content">
                Hello There!
            </mat-card-content>
            <mat-card-footer class="msg-time">
                9:16AM
            </mat-card-footer>
        </mat-card>

    </mat-card-content>
</mat-card>
  <!-- Message Window Preview  -->
    <!-- Message Window Send Bar -->
<mat-card class="msg-sending-bar">
    <mat-card-content>
        <div class="msg-editor-div">
            <input type="text" class="msg-editor" placeholder="Enter your Message">
        </div>
        <button mat-fab color="primary" class="send-button" >
            <mat-icon>send</mat-icon>
          </button>
    </mat-card-content>
</mat-card>

